{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            pkr |
            {% block title %}PreFlop Ranges{% endblock %}
        </title>
        <link rel="icon" href="{% static 'marketing/img/favicon.png' %}">
        {% block css %}
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" />
            <link rel="stylesheet"
                  href="https://preview.tabler.io/dist/css/tabler-marketing.min.css" />
        {% endblock %}
        <link rel="stylesheet" href="{% static 'ranges/css/ranges.css' %}" />
        {% block react %}{% endblock %}
    </head>
    <body>
        <div class="page">
            {% include "ranges/_navbar.html" %}
            <div class="page-wrapper mt-5">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "ranges/_footer.html" %}
        {% block js %}
            <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/js/tabler.min.js"></script>
        {% endblock %}
    </body>
</html>
