{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Preflop RFI Range</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'ranges/css/ranges.css' %}" />

    {% if DEBUG %}
        <script type="module" src="{% static 'ranges/js/vite-react-refresh.js' %}"></script>
        <script type="module" src="http://localhost:5173/src/ranges/range-grid/main.jsx"></script>
    {% else %}
        <script type="module" src="{% static 'ranges/range-grid.js' %}"></script>
    {% endif %}
</head>
<body class="py-5">
<div id="root"></div>

{{ initial_data|json_script:"initial-data" }}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous">
</script>
</body>
</html>
