{% extends "ranges/_base.html" %}
{% load static %}
{% block title %}PreFlop Ranges{% endblock %}
{% block content %}
    {% include "ranges/_header.html" with pretitle="Range Trainer" title="PreFlop Ranges" %}
    <div class="page-body">
        <div class="container-xl">
            <ul>
                {% for preflop_range in ranges %}
                    <a href="{% url 'ranges:range_detail' range_id=preflop_range.id %}">{{ preflop_range.name }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
