{% extends "ranges/_base.html" %}
{% load static %}
{% block title %}{{ initial_data.range_name }}{% endblock %}
{% block react %}
    {% if DEBUG %}
        <script type="module" src="{% static 'ranges/js/vite-react-refresh.js' %}"></script>
        <script type="module"
                src="http://localhost:5173/src/ranges/range-grid/main.jsx"></script>
    {% else %}
        <script type="module" src="{% static 'ranges/range-grid.js' %}"></script>
    {% endif %}
{% endblock %}
{% block content %}
    {% include "ranges/_header.html" with pretitle="Range Trainer" title=initial_data.range_name %}
    <div class="page-body">
        <div class="container-xl">
            <div id="root"></div>
        </div>
    </div>
    {{ initial_data|json_script:"initial-data" }}
{% endblock %}
