{% extends "ranges/_base.html" %}
{% load static %}
{% block title %}{{ initial_data.range_name }}{% endblock %}
{% block react %}
    {% include "ranges/partials/react_component.html" with component_path="ranges/range-quiz" %}
{% endblock %}
{% block content %}
    {% include "ranges/_header.html" with pretitle=page_pretitle title=page_title %}
    <div class="page-body">
        <div class="container-xl">
            <div id="root"></div>
        </div>
    </div>
    {{ initial_data|json_script:"initial-data" }}
{% endblock %}
