{% extends "ranges/_base.html" %}
{% load static %}
{% block title %}PreFlop Ranges{% endblock %}
{% block content %}
    {% include "ranges/_header.html" with pretitle=page_pretitle title=page_title %}
    <div class="page-body">
        <div class="container-xl">
            <div class="row"></div>
            {% for preflop_range in ranges %}
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ preflop_range.name }}</h3>
                            <p class="text-secondary">{{ preflop_range.description }}</p>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer">
                            <div class="d-flex">
                                <a href="{% url 'ranges:range_detail' range_id=preflop_range.id %}"
                                   class="btn btn-primary ms-auto">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
