<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Tabler Demo</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" />
        <link rel="stylesheet"
              href="https://preview.tabler.io/dist/css/tabler-marketing.min.css" />
    </head>
    <body>
        {% include "marketing/home/_navbar.html" %}
        {% include "marketing/home/_app-menu.html" %}
        {% include "marketing/home/_hero.html" %}
        {% include "marketing/home/_trusted-by.html" %}
        {% include "marketing/home/_features-1.html" %}
        {% include "marketing/home/_features-2.html" %}
        {% include "marketing/home/_features-3.html" %}
        {% include "marketing/home/_features-4.html" %}
        {% include "marketing/home/_feedback.html" %}
        {% include "marketing/home/_stats.html" %}
        {% include "marketing/home/_newsletter.html" %}
        {% include "marketing/home/_faq.html" %}
        {% include "marketing/home/_footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/js/tabler.min.js"></script>
    </body>
</html>
