<section class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Trusted by hundreds</h2>
            <p class="section-description">Our Users send us bunch of smilies with our services, and we love them 😍</p>
        </div>
        <div class="row g-lg-6">
            <div class="col-md-6 col-lg-4">
                <div class="row g-lg-6">
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/052f.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Jeffie Lewzey</h3>
                                        <div class="text-secondary">Chemical Engineer</div>
                                    </div>
                                </div>
                                <p>
                                    Ever since I started using Tabler, my HTML designing process has been significantly
                                    smoother. Its intuitive interface is a breath of fresh
                                    air!
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/002m.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Mallory Hulme</h3>
                                        <div class="text-secondary">Geologist IV</div>
                                    </div>
                                </div>
                                <p>
                                    I'm beyond impressed with Tabler. This UI kit has transformed my workflow for the
                                    better. It's easy to use, streamlined, and remarkably
                                    efficient.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/003m.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Dunn Slane</h3>
                                        <div class="text-secondary">Research Nurse</div>
                                    </div>
                                </div>
                                <p>
                                    Tabler's feature-rich package has drastically improved my website design process.
                                    It's an absolute game-changer in the UI kit landscape.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="row g-lg-6">
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/000f.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Emmy Levet</h3>
                                        <div class="text-secondary">VP Product Management</div>
                                    </div>
                                </div>
                                <p>
                                    Having used many UI kits in the past, I can confidently say that Tabler stands out.
                                    The level of customization it offers is unparalleled.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/001f.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Maryjo Lebarree</h3>
                                        <div class="text-secondary">Civil Engineer</div>
                                    </div>
                                </div>
                                <p>
                                    What I love about Tabler is its sleek design and ease of use. It's really simplified
                                    my HTML designing work. Five stars from me!
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/004m.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Egan Poetz</h3>
                                        <div class="text-secondary">Research Nurse</div>
                                    </div>
                                </div>
                                <p>
                                    I'd recommend Tabler to anyone, whether they're a seasoned pro or a beginner in HTML
                                    design. Its versatility and user-friendly nature make
                                    it a cut above the rest.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="row g-lg-6">
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/002f.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Kellie Skingley</h3>
                                        <div class="text-secondary">Teacher</div>
                                    </div>
                                </div>
                                <p>
                                    Navigating through Tabler has been a breeze! Its intuitive layout helps me save time
                                    and focus more on the creative aspect of my work.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/003f.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Christabel Charlwood</h3>
                                        <div class="text-secondary">Tax Accountant</div>
                                    </div>
                                </div>
                                <p>
                                    With Tabler, designing HTML has never been more straightforward. The kit's sleek
                                    features and functionalities have taken my design work to
                                    new heights.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="card bg-surface-secondary">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-auto">
                                        <span class="avatar avatar-md"
                                              style="background-image: url(https://preview.tabler.io/static/avatars/063m.jpg)"> </span>
                                    </div>
                                    <div class="col">
                                        <h3 class="h3 m-0">Haskel Shelper</h3>
                                        <div class="text-secondary">Staff Scientist</div>
                                    </div>
                                </div>
                                <p>
                                    Tabler has revolutionized the way I approach HTML design. Its array of tools and
                                    efficient interface make it a must-have for any designer.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
